@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 97%);
  --foreground: hsl(0, 0%, 20%);
  --card-bg-dark: hsl(49, 100%, 93%);
  --card-bg-light: hsl(49, 100%, 93%, 0.34);
  --card-border: hsl(45, 100%, 81%);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: hsl(0, 0%, 97%);
    --foreground: hsl(0, 0%, 20%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fredoka);
}

@layer components {
  .h1 {
    @apply font-bold text-[1.125rem] leading-[1.4em];
  }

  .h2 {
    @apply font-bold text-[1rem] leading-[1.4em];
  }

  .text-p {
    @apply text-[1rem] leading-[1.4em];
  }

  .text-p2 {
    @apply text-[0.875rem] leading-[1.4em];
  }
}
